$box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
$border: 1px solid rgba(0,0,0,0.15);
$gray: #8898aa;
$primary: #32325d;

.app{
  height: 100vh;
  width: 100vw;
}
.main-container{
  box-sizing: border-box;
  padding: 2rem;
  column-gap: 2rem;
  row-gap: 2rem;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: minmax(min-content, 0.4fr) 1fr 0.7fr;
  grid-template-rows: 1fr 0.2fr 1fr;
}

.previous-search-container{
  box-shadow: $box-shadow;
  border: $border;
  grid-row: 1/4;
  grid-column: 1;
  overflow: auto;
}

.search-history{
  overflow: hidden;
  padding: 1rem;
  &__item{
    cursor: pointer;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    border: $border;
    border-radius: 0.25rem;

    &:hover{
      background-color: rgba(230, 230, 230, 0.25);
    }
  }
  :not(:first-child){
    margin-top: 0.5rem;
  }
}
.custom-input{
  position: relative;
  box-shadow: 0 3px 2px rgba(230, 235, 240, 0.05);
  display: block;
  width: 100%;
  height: 2.5rem;
  font-size: 0.875rem;
  font-weight: 400;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  outline: none;
  &:focus{
    border: 1px solid $primary;
  }
}
.custom-button{
  min-width: 90px;
  font-weight: 600;
  color: #fff;
  background-color: #172b4d;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.625rem 1.25rem;
  border-radius: 0.25rem;
  cursor: pointer;
  &:hover{
    transform: scale(1.05);
    background-color: #213D6E;
  }
}

.user-location {
  &__map{
    box-shadow: $box-shadow;
    border: $border;
    grid-row: 1;
    grid-column: 2;
  }
  &__info{
    box-shadow: $box-shadow;
    border: $border;
    grid-row: 1;
    grid-column: 3;
  }
}

.search {
  &__form{
    grid-row: 2;
    grid-column: 2/4;
    display: flex;
    align-items: center;
  }
  &__field{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 0.3fr;
    column-gap: 1rem;
    input{
      padding: 1rem;
    }
  }

  &__map{
    box-shadow: $box-shadow;
    border: $border;
    grid-row: 3;
    grid-column: 2;
  }
  &__info{
    box-shadow: $box-shadow;
    border: $border;
    grid-row: 3;
    grid-column: 3;
  }
}



.location-info{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  span{
    margin: 0.5rem 0;
  }
  &__message{
    display: flex;
    height: 100%;
    flex: 1;
    align-items: center;
    justify-content: center;
  }
}

.leaflet-container {
  height: 100%;
  width: 100%;
}